@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");
@font-face {
  font-family: "neueFont";
  src: url(./fonts/NeueMachina-Light.otf) format("opentype"),
    url(./fonts/NeueMachina-Regular.otf) format("opentype"),
    url(./fonts/NeueMachina-Ultrabold.otf) format("opentype");
}

@font-face {
  font-family: "Schabo";
  src: url(./fonts/SCHABO-Condensed.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "neueFont";
  font-weight: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}
a {
  color: #e3e3e3;
}

html {
  color: #e3e3e3;
  background: #1a1a1a;
}
nav {
  width: 100%;
  height: 10vh;
  position: relative;
}

.logo,
.menu-logo {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.logo {
  position: fixed;
  font-family: "Schabo";
  font-size: 60px;
  color: white;
  mix-blend-mode: difference;
}

.logo sub {
  color: #e3e3e3;
  font-size: 20px;
}

.logo a,
.menu-logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 60px;
}

.menu-toggle {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 120px;
  height: 60px;
  background-color: white;
  border-radius: 8em;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: right;
  cursor: pointer;
  z-index: 110;
}

.menu-toggle.opened {
  width: 60px;
}

.menu-copy {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: black;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.menu-copy p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.menu-toggle:hover .menu-copy {
  left: 20px;
}

.menu-toggle.opened .menu-copy {
  opacity: 0;
}

.menu-toggle-icon {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  clip-path: circle(10% at 50% 50%);
  background-color: burlywood;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 100;
  overflow: hidden;
}

section:not(:first-of-type) {
  margin: 10vh 0;
}

.menu-toggle:hover .menu-toggle-icon {
  clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.125);
}

.hamburger {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  top: 50%;
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  background-color: #000;
  transition-property: transform;
  transition: all 250ms ease-out;
}

.menu-bar[data-position="top"] {
  transform: translateY(-3px);
}

.menu-bar[data-position="bottom"] {
  transform: translateY(3px);
}

.menu-toggle.opened .menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}
.menu-toggle.opened .menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #000;
  transform-style: preserve-3d;
  perspective: 1000px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  z-index: 99;
}

.col {
  flex: 1;
}
.col-2 {
  flex: 2;
  gap: 50px;
}

.col {
  position: relative;
  height: 100%;
  padding: 10em 2em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.link {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
}

.link a {
  text-decoration: none;
  color: #e3e3e3;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: -1.5px;
  line-height: 125%;
  display: flex;
  gap: 3rem;
}
.link a span {
  opacity: 0;
  margin-top: 1rem;
  fill: #e3e3e3;
  translate: none;
  transform: scale(0) rotate(0deg);
  transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.link a span svg {
  width: 40px;
}

.link a:hover span {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(50%, -20%);
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #1a1a1a;
  overflow: hidden;
  padding: 0em;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.socials {
  width: 50%;
  display: flex;
  gap: 2em;
}

.socials .sub-col {
  flex: 1;
}

.socials .sub-col p,
.socials .sub-col a {
  position: relative;
  color: #e3e3e3;
  transform: translateY(30px);
  opacity: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

.time {
  color: #e3e3e3;
}

.socials .sub-col a:hover {
  color: burlywood;
  transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}

.header h1 {
  color: #e3e3e3;
  text-transform: uppercase;
  font-family: "schabo";
  font-size: 500px;
  font-weight: 800;
  line-height: 100%;
  height: 400px;
}

.header h1 span {
  position: relative;
  display: inline-block;
  font-weight: lighter;
  font-family: "schabo";
  transform: scale(0.75) translateY(500px) rotateY(90deg);
  transform-origin: bottom;
}

@media (max-width: 900px) {
  .col-1 {
    flex: 2;
    align-items: flex-start;
    padding: 0;
  }

  .links {
    padding: 10em 2em 2em 2em;
  }

  .link a {
    font-size: 30px;
  }
  .video-wrapper {
    padding: 0em;
    margin-bottom: 3em;
  }
  .socials {
    width: 100%;
    flex-direction: column;
    gap: 8em;
  }

  .header h1 {
    font-size: 150px;
    height: 120px;
  }
}

@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
}

.hero_title {
  width: 100%;
  height: 90vh;
  position: relative;
  padding: 10px;
}

.hero_title h1 {
  text-align: center;
  width: 100%;
  font-size: 14em;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 900;
  transform: translate(-50%, -50%);
}

@media (max-width: 1700px) {
  .hero_title h1 {
    font-size: 10em;
  }
}
@media (max-width: 1220px) {
  .hero_title h1 {
    font-size: 8em;
  }
}
@media (max-width: 980px) {
  .hero_title h1 {
    font-size: 8em;
    text-align: left;
    padding: 30px;
  }
}
@media (max-width: 700px) {
  .hero_title h1 {
    font-size: 18vw;
    text-align: left;
    padding: 10px;
  }
}

#section_02 {
  width: 100%;
  height: fit-content;
}

.video_wrapper {
  width: 90%;
  height: 80vh;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}

.video_wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.heading,
.about_me {
  width: 100%;
}

.heading {
  padding: 4em;
}

.heading h1 {
  font-size: 10rem;
  font-family: "Schabo";
}

.about_me {
  font-size: 2rem;
  padding: 30px 4rem;
  text-align: center;
  font-weight: 900;
}

@media (max-width: 900px) {
  .video-wrapper video {
    object-fit: contain;
    object-position: center;
  }

  .about_me {
    padding: 30px 1px;
  }
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth[data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.section_03 {
  overflow: hidden;
}

.projects {
  display: flex;
  width: 400vw;
  height: 100vh;
  position: relative;
}

.project {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project img {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  object-position: center;
  transition: all ease-in-out 0.3s;
}

.project_heading {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: rotate(-90deg);
  -webkit-text-stroke: 1px rgb(4, 255, 0);
}

.project_heading h1 {
  font-family: "Schabo";
  font-size: 10rem;
}

.slider {
  width: 90%;
  justify-self: center;
  height: 120px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000, transparent);
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1)
  ) !important;
  transition: filter 0.3s;
}

.slider .list .item img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}
.contactSec {
  width: 100%;
  display: flex;
  height: 60vw;
  margin-top: 10px;
}
.left-contactSec {
  width: 50%;
  height: 100%;
  padding: 100px;
  padding-left: 200px;
}

.left-contactSec h1 {
  font-family: "Schabo";
  font-size: 10rem;
}
.left-contactSec h3 {
  font-size: 2rem;
  margin-top: 5vh;
  font-size: bolder;
  line-height: 0.95;
}

.left-contactSec > h5 {
  font-size: 1rem;
  margin-top: 5vh;
  opacity: 0.7;
}
.left-contactSec > p:not(:last-child),
.left-contactSec a {
  font-size: 1rem;
  text-decoration: none;
}
.time2 {
  font-size: 5rem;
  margin-top: 10vh;
  opacity: 0.7;
  font-family: "Schabo";
}

.right-contactSec {
  width: 50%;
  height: 100%;
  padding: 100px 150px;
}
.right-contact-top {
  height: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 70%;
  position: relative;
}

.right-contact-top::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #e3e3e3;
  position: absolute;
  top: 50%;
  left: 0;
}

.right-contact-top p {
  font-size: 1rem;
  width: 70%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  gap: 10px;
}

.form input,
.form textarea {
  width: 70%;
  margin-top: 2vh;
  height: 10vh;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 40px;
  font-size: 2rem;
  color: #e3e3e3;
  outline: none;
  padding-top: 50px;
  padding-bottom: 1px;
  transition: border-bottom 0.3s ease;
}

.form input:focus,
.form textarea:focus {
  border-bottom: 1px solid #007bff;
  background: transparent; /* blue highlight on focus */
}

.form input::-ms-fill .form input::placeholder,
.form textarea::placeholder {
  color: #666;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #e3e3e3 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.right-contact-bottom h3 {
  font-size: 10rem;
  font-family: "Schabo";
}

.submit-btn {
  width: 120px;
  height: 60px;
  background-color: white;
  border-radius: 8em;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 25%;
  cursor: pointer;
  color: #1a1a1a;
  border: none;
}

.submit-btn:hover {
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #e1e1e1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00DD9E;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover,
.hvr-radial-out:focus,
.hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before,
.hvr-radial-out:focus:before,
.hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

footer {
  margin-top: 20vh;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.footer-top {
  width: 100%;
  height: 90%;
  display: flex;
}

.top-footer-left {
  width: 50%;
}
.top-footer-left p {
  margin-left: 100px;
  width: 80%;
  font-size: 5rem;
  font-family: "Schabo";
}

.top-footer-right {
  width: 50%;
  position: relative;
}

.keyboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: scale(0.6);
}

.top-footer-right::after {
  content: "";
  position: absolute;
  top: 75%;
  right: 20%;
  width: 100px;
  height: 50px;
  background-color: #1a1a1a;
}

footer h6 {
  text-align: center;
  font-size: 1rem;
}

.bottom-footer {
  display: flex;
  width: 100%;
  height: 10dvh;
}

.bottom-footer-left {
  width: 50%;
  display: flex;
  justify-content: start;
  margin-left: 50px;
  align-items: end;
  padding-bottom: 30px;
}
.bottom-footer-right {
  width: 50%;
  height: 100%;
display: flex;
justify-content: end;
align-items: end;
padding-bottom:10px;
margin-right: 90px;
}

.bottom-footer-right ul{
  display: flex;
  gap: 3vw;

}

.bottom-footer-right ul li{
  list-style: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  width: 120px;
  height: 60px;
  border-radius: 8em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bottom-footer-right ul li:hover{
  color: black;
}


